---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Dashboard - ClinicHub">
    <div id="dashboard-overview-root"></div>
</DashboardLayout>

<script>
    import React from "react";
    import { createRoot } from "react-dom/client";
    import DashboardOverview from "../../components/dashboard/DashboardOverview";

    const container = document.getElementById("dashboard-overview-root");
    if (container) {
        const root = createRoot(container);
        root.render(React.createElement(DashboardOverview));
    }
</script>
