---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Patients - ClinicHub">
    <div id="patients-list-root"></div>
</DashboardLayout>

<script>
    import React from "react";
    import { createRoot } from "react-dom/client";
    import PatientsList from "../../components/dashboard/PatientsList";
    import { ToastProvider } from "../../components/ui/Toast";

    const container = document.getElementById("patients-list-root");
    if (container) {
        const root = createRoot(container);
        root.render(
            React.createElement(
                ToastProvider,
                null,
                React.createElement(PatientsList),
            ),
        );
    }
</script>
