---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Staff Management - ClinicHub">
    <div id="users-list-root"></div>
</DashboardLayout>

<script>
    import React from "react";
    import { createRoot } from "react-dom/client";
    import UsersList from "../../components/dashboard/UsersList";
    import { ToastProvider } from "../../components/ui/Toast";

    const container = document.getElementById("users-list-root");
    if (container) {
        const root = createRoot(container);
        root.render(
            React.createElement(
                ToastProvider,
                null,
                React.createElement(UsersList),
            ),
        );
    }
</script>
